{% extends "base.html" %}
{% block title %}<title>SRM | Home</title>{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-5">Simple Resource Monitor</h1><p></p>
                            <ul>
                                <li>
                                    <p class="lead">
                                        A simple web based resource monitoring tool.
                                    </p>
                                </li>
                                <li>
                                    <p class="lead">
                                        Helps monitor the availability status of a collection of websites.
                                    </p>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
{% endblock %}